html {
    font-family: Comfortaa;
}

head {
    background-color: #faf4ff;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    background-color: #faf4ff;
    text-align: center;
}

body {
    color: #333039;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

nav {
    background: #6C304A;
    padding: 1.5rem 3.5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background: #333039;
    color: white;
}
